.btn-outline-danger {
    color: $red-higlight !important;
    border-color: $red-higlight !important;
  }
  
  .btn-outline-danger:hover {
    color: $second-color !important;
    background-color: $red-higlight !important;
    border-color: $red-higlight !important;
  }
  